<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="https://www.example.com - http(s) must include">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h1 id="result-title">Form Results:</h1>
                <div id="results">
                    <div class="info">
                        <p class="headings">Title:&ensp;</p>
                        <p id="title"></p>
                    </div>
                    <div class="info">
                        <p class="headings">Author:&ensp;</p>
                        <div id="author"></div>
                    </div>
                    <div class="image-container">
                        <p class="headings">Image:&ensp;</p>
                        <img id="image"></img>
                        <div id="not-available"></div>
                    </div>
                    <div  class="info">
                        <p class="headings">Article:&ensp;</p>
                        <div id="article"></div>
                    </div>
                    <div class="info">
                        <p class="headings">Video Links:&ensp;</p>
                        <div id="videos"></div>
                    </div>
                    <div class="info">
                        <p class="headings">Publish Date:&ensp;</p>
                        <div id="publishDate"></div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
